:root {
    --primary-color: #212e3e;
    --secondary-color: #FFB829;
    --background-color: #f4f4f4;
    --dark-color: #1a2430;
    --light-color: #009EED;
    --white-color: #FFFFFF;
    --black-color: #000000;

    --second-background: #e8edf3;
    --nav-current: var(--primary-color);

    --title-font: "Poppins", sans-serif;
    --body-font: "Arimo", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
}

h1,
h2,
h3,
.title-header,
.navigation a {
    font-family: var(--title-font);
}

header {
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px;
    grid-template-rows: 80px auto;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.title-header {
    font-size: 1.4rem;
    padding-left: 1rem;
}

.nav-nav {
    grid-column: 1/-1;
    width: 100%;
}

header>* {
    margin: auto 0;
}

body {
    min-width: 360px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.logo {
    width: 100%;
}

h1 {
    padding: 1rem 0;
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
}


/* -------------- */
/*  footer        */
/* -------------- */

footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem;
    place-items: center;
}

footer h2 {
    font-size: 1rem;
    color: var(--secondary-color);
}

.social-media ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.social-media li {
    margin: 10px;
}

.social-media img {
    width: 50px;
    height: auto;
}

/* 
Random thing to use in the files
*/

.dark-light {
    --dark-light-color: var(--secondary-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 4px solid var(--dark-light-color);
    background: linear-gradient(to right, var(--dark-light-color) 50%, transparent 50%);

    cursor: pointer;
}