@media (min-width:64rem) {
    .discover-card {
        grid-template-areas:
            "name name"
            "img desc"
            "img addr"
            "img btn";
    }

    .area-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    
    img {
        max-width: 300px;
    }
}