@media (min-width:64rem) {
    .topics {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .bussiness-spotlights {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card-spotlight {
        width: 30%;
        grid-template-columns: 1fr;

    }

    .card-spotlight img {
        max-width: 90%;
        max-height: 120px;
        height: auto;
        width: auto;
        margin: 0 auto;
    }

    .card-spotlight .spotlight-info {
        padding: .5rem 1.5rem;
    }

    .call-to-action-btn a {
        font-size: 3rem;
    }

    .call-to-action-btn {
        width: fit-content;
        right: 10%;
        top: 60%;
    }
}