header {
    display: grid;
    grid-template-rows: 50px auto;
}

.site-name {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 50px auto 50px;
}

.site-name span {
    color: var(--white-color);
    font-size: 2rem;
    margin: auto 0;
}

.logo {
    width: 44px;
    height: auto;
    margin: auto;
}

.logo * {
    color: var(--white-color);
    fill: var(--white-color);
}

header nav {
    grid-row: 2/3;
}


/* ------------------------------- 
        sections in main
   -------------------------------  */

section h2 {
    background-color: var(--dark-color);
    padding: 6px;
    color: var(--white-color);
    text-align: center;
    margin-top: 1rem;
}

section.content {
    background-color: var(--second-background);
    box-shadow: 5px 5px var(--light-color);
}

.about-me p {
    padding: 1rem;
    font-size: 1.3rem;
}

.photo img {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 2rem;
}


/* ------------------------------- 
        courses buttons
   -------------------------------  */

.course-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

button.filter-button {
    margin: 1rem 0;
    width: calc(100%/3 - 30px);
    padding: 10px;
    border: none;
    border-radius: 2rem;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}

button.filter-button.pressed {
    background-color: var(--second-background);
    color: var(--dark-color);
    outline: 2px solid var(--primary-color);
}

#course-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
}

.course-card {
    background-color: var(--light-color);
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 2rem;
}

.course-card.completed {
    background-color: var(--nav-current);
}

.course-card.completed span,
.course-card.completed p {
    color: var(--light-color);
}

.course-card.completed p {
    text-decoration: line-through;
}

.course-card.completed span::before {
    content: "✓ ";
    font-size: .8rem;
}

.credits-label {
    text-align: center;
    font-size: 1.3rem;
}

/* ------------------------------- 
             dialog
   -------------------------------  */

dialog {
    border: none;
    box-shadow: 5px 5px var(--light-color);
    padding: 1rem;
    background-color: var(--second-background);
    width: 90%;
    max-width: 600px;
    margin: auto;
}

::backdrop {
    background-color: var(--dialog-back);
}

body:has(dialog[open]) {
    overflow: hidden;
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    font-size: 1.75rem;
    padding: .5rem 1rem;
    border: none;
    background: none;
    color: var(--white-color);
    cursor: pointer;
}

dialog h2 {
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 6px 1rem;
}

dialog p {
    margin-top: 1rem;
}